
#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1ecee5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #12204e;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #17abbe;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #4326c7;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}