body {
    background-color: darkslategray;
}
#nav{
    border : 5px solid rgb(247, 247, 247);
    margin : 20px;
    width : 100%;
}
    h

#search{
    border : 5px solid rgba(255, 255, 255, 0.938);
    margin : 20px;

}

#promodujour{
    border : 5px solid rgb(255, 255, 255);
    margin : 20px;

}


#containercartes{
    border : 5px solid rgb(255, 255, 255);
    margin : 20px;
    display: flex;

}
        
.carte{
    border : 5px solid rgb(255, 255, 255);
    margin : 20px;

}

.carteimage{
    border : 5px solid rgb(255, 255, 255);
    margin : 20px;

}

.cartetexte{
    border : 5px solid rgb(255, 255, 255);
    margin : 20px;

}

#pieddepage{
    border : 5px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color:rgb(250, 250, 250);
    margin : 20px;
    width : 100%;
}
body{background:#d65409;font-size:10pt;
}
<style>
body {
  position: relative; 
}
#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1ecee5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #560fc9;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #116e7a;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #4326c7;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
</style>