
}
body{background:#d65409;font-size:10pt;
}
<style>
body {
  position: relative; 
}
#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1ecee5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #560fc9;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #116e7a;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #4326c7;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
</style>